body{
    background-color: gray;
}

#Rodney{
    height: 200px;
    width: 200px;
}
#workHistory{
    align-content: center;
}
#educationCertifications{
    align-content: center;
}

#interests{
    align-content: center;
}

#carouselExampleCaptions{
color: black;
background-color: black;

}

#crystalCollectorsPic{
height: 710px;
width: 1600px;

}
#gifTasticPic{
    height: 710px;
    width: 1600px;
    
    }
    #ccngPic{
        height: 710px;
        width: 1600px;
    
    }
#controlPrev{
    color: black;
    background-color: black;
}

#controlNext{
    color: black;
    background-color: black;
}