body {
  background-color: gray;
}

.container {
  text-align: center;
}

#navbar {
  color: black;
}

#btnLinkedIn {
  color: black;
  background-color: black;
}

#btnClose {
  background-color: black;
}

#Rodney {
  height: 200px;
  width: 200px;
}
#navbarNav {
  color: black;
}

#navProject {
  color: black;
  font-weight: bold;
}

#workHistory {
  align-content: center;
}
#educationCertifications {
  align-content: center;
}

#interests {
  align-content: center;
}

#carouselExampleCaptions {
  color: black;
  background-color: black;
  object-fit: fill;
  display: flex;
}

#crystalCollectorsPic {
  height: 100%;
  width: 100%;
  object-fit: fill;
  display: flex;
}
#gifTasticPic {
  height: 100%;
  width: 100%;
  object-fit: fill;
  display: flex;
}
#ccngPic {
  height: 100%;
  width: 100%;
  object-fit: fill;
  display: flex;
}
#controlPrev {
  color: black;
  background-color: black;
}

#controlNext {
  color: black;
  background-color: black;
}
#jumbotron {
  text-align: center;
  margin: auto;
}
